.math {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.divisao {
  display: flex;
  justify-content: space-around;
}

.alfaNumber {
  font-weight: 900;
  text-align: center;
}

.bravoNumber {
  font-size: 900;
}

li {
  list-style: none;
  font-style: normal;
  font-size: 30px;
}
